apiVersion: apps/v1
kind: Deployment
metadata:
  name: project
  labels:
    app: project
spec:
  replicas: 1
  selector:
    matchLabels:
      app: project
  template:
    metadata:
      labels:
        app: project 
    spec:
      containers:
      - name: project
        image: aishwaryabhandurge/myapp:latest
        ports:
        - containerPort: 3000
        
        
---

apiVersion: v1
kind: Service
metadata:
  name: project
spec:
  selector:
    app: project
  type: NodePort
  ports:
  - port: 3000
    protocol: TCP
    nodePort: 31110
